# fly.toml app configuration file generated for load-tester on 2025-03-28T16:06:29+04:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = "load-tester"
primary_region = "sin"  # Singapore region, you can change this

[build]
  dockerfile = "Dockerfile"

[env]
  PORT = "8080"
  NODE_ENV = "production"
  REDIS_HOST = "redis-17996.c37407.asia-seast1-mz.gcp.cloud.rlrcp.com"
  REDIS_PORT = "17996"
  REDIS_PASSWORD = ""
  REDIS_DB = "0"

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = true
  auto_start_machines = true
  min_machines_running = 1  # Keep at least one instance running
  processes = ["app"]
  [http_service.concurrency]
    type = "connections"
    soft_limit = 100
    hard_limit = 150

[[http_service.checks]]
  interval = "15s"
  timeout = "2s"
  grace_period = "5s"
  method = "GET"
  path = "/api/health"
  protocol = "http"
  tls_skip_verify = true

[[vm]]
  cpu_kind = "performance"
  cpus = 1
  memory_mb = 1024

[deploy]
  strategy = "immediate"
  release_command = ""

[build.args]
  VCS_BRANCH = "main"
